@font-face {
    font-family: "bm";
    src: url("bm.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html body {
    font-family: "bm", sans-serif;
    padding: 10px;
    background-color: rgb(34, 34, 34);
}

.mast {
    background-color: rgb(34, 34, 34);
}

.tagline {
    color: rgb(100, 100, 100);
}

a {
    color: rgb(255, 145, 0) !important;
    background: conic-gradient(from 90deg at 50% 0%, #111, 50%, #222, #111);
}

.item-title {
    color: fuchsia;
    border-bottom: 1px solid rgb(70, 70, 70);
}

.item-text {
    color: white;
}